<div class="app-container">
  <h1>Test Password Strength</h1>

  <input
    type="password"
    placeholder="enter your password"
    [(ngModel)]="password"
    (input)="sanitizePassword()"
  />

  <p>{{ password }}</p>

  <p *ngIf="!isPasswordEmpty()">{{getPasswordStrength()}}</p>

  <div class="sections-container">
    <div
      class="section"
      [ngClass]="{
        invalid: !isPasswordEmpty() && !isPasswordLongEnough(),
        easy: getPasswordStrength() === 'Easy',
        medium: getPasswordStrength() === 'Medium',
        strong: getPasswordStrength() === 'Strong'
      }"
      *ngFor="let _ of [1, 2, 3]"
    ></div>
  </div>
</div>
